// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  float: right;
}

.checkbox {
  margin-left: 20px;
}

.destroy {
  margin-top: 10px;
  margin-right: 10px;
}

.sponsored {
  font-weight: 400;
  color: green;
  font-size: 1rem;
}

.btn.sponsored {
  margin-right: 20px;
}
